html {
    height: 100%;
    width: 100%;
    background-color: #f89eac;
  }
  
  body {
    font: Verdana;
    margin: 0;
    padding: 0;
          background-color: #f89eac;

  }
  
  .navbar {
    background-color: #A63A50;
  ; /* Background color of the nav bar */
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar a {
    color: #F0E7D8;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #BF4A61;
  }
  
  .navbar a.active {
    background-color: #A63A50;
  }
  
  .content {
    padding: 2rem;
      background-color: #f89eac;
  }

  button {
  background-color: #883041;
    color: white;
    font: Garamond;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: white;
    align-self: center;
    text-wrap: 100px;
  
    
  }
  button:hover {
    background-color: #A63A50; /* change to your desired color */
    color: white; /* change to your desired color */
  }
  a{
  font: Garamond;
    color: white;
    text-decoration: black;
  background-color: #A63A50;
    font-size: 20px;
  }
  h1{
  
  color: white;
  font-weight: bold;  
  }
butt3{
background-color: pink;

}
